fastapi~=0.119
pydantic~=2.12
geojson-pydantic~=2.1
starlette~=0.48
uvicorn~=0.38
aiohttp~=3.13
IDU-config~=1.0
loguru~=0.7
numpy~=2.2
geopandas~=1.1
pandas~=2.3
shapely~=2.1
scipy~=1.15
scikit-image~=0.25
tqdm~=4.66